@media (prefers-color-scheme: light) {
  :root {
    --mbg: #fff;
    --mtext: #000;
    --nbg:skyblue;
    --ntext: #000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --mbg: #1e1e1e;
    --mtext: #fff;
    --nbg:#757575;
    --ntext: #38c6d6;
  }
}

/* 画面が縦長であれば */ /*sp-thanks https://rmtmhome.com/under-fixmenu-342 */
@media (orientation: portrait) { 
  #navi-pc{
    display:None;
  }
  #navi-phone{
    color: var(--ntext);
    background: var(--nbg);
    position: fixed;
    width: 130%;
    bottom: 0px;
    font-size: 0;
    opacity: 0.9;
    z-index: 2;
  }
  #creating{
    padding-top: 0px;
  }

  #navi-phone li{
    display: inline-block;
    width: 33vw;
    font-size: 14px;
    border-right: 1px solid #fff;
  }
  
  #navi-phone li a{
    color: var(--ntext);
    background: var(--nbg);
    width: 33vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 10vh;
  }
}

/* 画面が横長であれば */
@media (orientation: landscape) { 
  #navi-pc{
    display:inline;
    position:fixed;
    font-size:30;
    background-color: var(--nbg);
    color: var(--ntext);
  }
  #navi-phone{
    display:None;
  }
  #creating{
    padding-top: 52px;
  }
}

body {
  background-color: var(--mbg);
  color: var(--mtext);
}
