body {
  background-color: black;
  position:center;
  text-align: center;
}

#contents {
  top:0px;
  display: block;
}

#d90 {
  transform:rotateZ(90deg);
}

#d180 {
  transform:rotateZ(180deg);
}

#d270 {
  transform:rotateZ(270deg);
}

